.more-info {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  min-height: 280px;
}

@media (max-width: 1024px) {
  .more-info {
    margin-left: 40px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .more-info {
    width: 288px;
    align-items: center;
    margin: 0 auto;
  }
}
