.header__announce {
  /* border: 2px solid blue; */
  font-family: "Montserrat", "Arial", "Sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFF;
  display: flex;
  align-items: flex-start;
  max-width: 544px;
  margin: 0 0 0 48px;
  grid-area: announce;
  /* word-wrap: break-word; */
  height: fit-content;
  max-height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1300px) {
  .header__announce  {
    font-size: 16px;
    max-width: 464px;
    margin: 0 0 0 40px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media (max-width: 900px) {
  .header__announce  {
    font-size: 14px;
    max-width: 353px;
    /* margin: 0 16px 40px; */
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .header__announce  {
    order: 2;
    width: 288px;
    margin: 0;
    overflow: visible;
  }
}