.more-info__icon {
  background-image: url(../../../images/arrow.png);
  width: 18px;
  height: 14px;
  margin-left: 11px;
  transition: ease-in-out 0.4s;
}

@media (min-width: 320px) and (max-width: 500px) {
  .more-info__icon {
    display: none;
  }
}
